{% extends "main.html" %}
{% load static %}
{% block title %}<title>Contact Us</title>{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static "css/contact.css" %}">
    <div class="contact_us">
        <div class="responsive-container-block bigContainer">
          <div class="responsive-container-block Container">
            <div class="responsive-cell-block wk-desk-5 wk-ipadp-4 wk-tab-12 wk-mobile-12">
              <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp35.svg">
            </div>
            <div class="responsive-cell-block wk-desk-7 wk-ipadp-8 wk-tab-12 wk-mobile-12">
              <p class="text-blk heading">
                Contact Me
              </p>
              <form class="formTable" id="izml">
                <div class="firstRow">
                  <div class="fullNameArea">
                    <p class="cardHead">
                      Full Name
                    </p>
                    <input class="fullName" id="fullName" name="fullName" type="text">
                  </div>
                  <div class="emailArea">
                    <p class="cardHead">
                      Email Address
                    </p>
                    <input class="email" id="email" name="email" type="text">
                  </div>
                </div>
                <div class="messageArea">
                  <p class="cardHead">
                    Message
                  </p>
                  <textarea class="message" cols="30" id="message" name="message" rows="10"></textarea>
                </div>
                <button class="submit" id="submit-btn" type="submit">
                    Send Message
                </button>
              </form>
            </div>
          </div>
        </div>
    </div>
    <script src="{% static "js/contact.js" %}"></script>
{% endblock content %}