{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Form</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method='POST' action="{% url 'login' %}" class="loginfrm mt-5 col-6">
        {% csrf_token %}
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <button type="submit">Login</button>

        <!-- Register Button Section -->
        <div class="register-link">
            <p>Don't have an account? <a href="{% url 'register' %}" style="text-decoration: none; color: yellow;">Register here</a></p>
        </div>
    </form>
</body>
</html>
